[submodule "api"]
	path = api
	url = https://github.com/racoonius-programmer/wepay-bff.git
[submodule "ms-clientes"]
	path = ms-clientes
	url = https://github.com/racoonius-programmer/ms-clientes.git
[submodule "ms-pedidos"]
	path = ms-pedidos
	url = https://github.com/racoonius-programmer/wepay-ms-pedidos.git
[submodule "wepay-catalogo"]
	path = wepay-catalogo
	url = https://github.com/racoonius-programmer/wepay-catalogo.git
[submodule "app-test-azure"]
	path = app-test-azure
	url = https://github.com/racoonius-programmer/app-test-azure.git
